.theme-changer {
    width: 50px;
    height: 20px;
    background: #fff;
    border-radius: 10px;
    transition: .8s;
}

.theme-changer:hover {
    cursor: pointer;
    transform: translateY(-30%);
    background: #000;
}

.theme-changer:hover .theme-changer__ball {
    background: #fff;
    transition: .8s;
}

.theme-changer_dark {
    background: #000;
}

.theme-changer_dark:hover {
    background: #fff;
}

.theme-changer_dark:hover .theme-changer__ball_enabled {
    background: #000;
}

.theme-changer__ball {
    width: 40%;
    height: 100%;
    background: #000;
    border-radius: 100%;
    transition: .8s;
}

.theme-changer__ball_enabled {
    background: #fff;
    transform: translateX(150%);
}