.hamburger {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 35px;
    height: 75%;
    z-index: 10;
    transition: .8s;
}

.hamburger_active {
    transform: translateX(500%);
}

.hamburger_active .hamburger__line:first-child {
    animation-name: none !important;
    transform: translateY(250%) rotate(45deg);
    transition: .8s;
}

.hamburger_active .hamburger__line:nth-child(2n) {
    animation-name: none !important;
    opacity: 0;
    transition: .8s;
}

.hamburger_active .hamburger__line:last-child {
    animation-name: none !important;
    transform: translateY(-250%) rotate(-45deg);
    transition: .8s;
}

.hamburger_active:hover .hamburger__line {
    box-shadow: 0 0 5px 1px #000;
    transition: .8s;
}

body.dark .hamburger_active:hover .hamburger__line {
    box-shadow: 0 0 5px 1px #fff;
    transition: .4s;
}


.hamburger:hover {
    cursor: pointer;
}

.hamburger__line {
    display: block;
    width: 100%;
    height: 5px;
    background: #000;
    transition: .8s;
}

.hamburger:hover .hamburger__line {
    animation-name: shakeHamburgerLine1;
    animation-duration: .6s;
}

.hamburger:hover .hamburger__line:nth-child(2n) {
    animation-name: shakeHamburgerLine2;
    animation-duration: .6s;
}

.dark .hamburger__line {
    background: #fff;
}

@media screen and (max-width: 991px) {
    .hamburger_active {
        transform: translate(18vw);
    }
}

@media screen and (max-width: 756px) {
    .hamburger_active {
        transform: translate(24vw);
    }
}

@media screen and (max-width: 576px) {
    .hamburger_active {
        transform: translate(39vw);
    }
}