.current-city {
    width: 200px;
    transition: .8s;
}

.app.dark .current-city {
    color: #fff;
}

@media screen and (max-width: 756px) {
    .current-city {
        margin-left: auto;
        text-align: right;
    }
}